__pycache__
/.CI/testing/requirements.txt
!HelloWorld.mo
!HelloWorld.mos
/.venv/
/.vscode/
/*.files
/*.html
/*.json
/converted-libraries
/MyLibrary*/
/ReferenceFiles/
files/
HelloWorld*
history/
sqlite3.db
/scaling-logs/
/scaling.db
